*{
    margin: 0;
    border :0;
}

body{
    font-family: 'Anton', sans-serif;
    background-color:#051937;
   
}

.logo{
    width:230px;
    height:90px;
    margin-right:1000px;
    margin-top: 10px;
    padding:10px;
    border-radius: 15px;
}

.placehold{
    margin:10px;
    border-radius: 10px;
}

.nav{
    display:flex;
    align-items: left;
    background-color: #002233
}



ul{
   color: #F3AD78;
}

ul.navlist li a{
    display: block;
    float: right;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
    margin:40px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}


a:hover {
    background-color:#00b2ff;
    border-radius: 2px;
}

ul.navlist{
    list-style-type: none;
    display:flex;
    align-items: center;
    margin: auto;
}

ul.navlist li{
    margin-right:10px;
    font-weight: bold;
}

ul.navbar li a:hover {
    background-color: #ddd;
    font-weight: bold;
}


.nav a.active {
    background-color: #F3AD78;
}

section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vh;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./images/wave2.svg');
}

.layer2{
    background-image: url("./images/waveup.svg");
    
}

.layer3{
    background-image: url("./images/wavebottom.svg");
}

.intro{
    color: #ddd;
    text-align: center;
    padding-top: 200px;
    font-size: 80px;
    font-weight: bold;
}







